<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.allLibraryObjectsFilmStrip" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
          <section name="Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.libraryObjectsFilmStrip" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="Microsoft.Aces.AutoGenEditor.View.Properties.ViewSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <Microsoft.Aces.AutoGenEditor.View.Properties.ViewSettings>
        <setting name="RendersDirectory" serializeAs="String">
          <value>Renders</value>
        </setting>
        <setting name="RendersExtension" serializeAs="String">
          <value>jpg</value>
        </setting>
        <setting name="ObjectsPath" serializeAs="String">
          <value>C:\Program Files\Lockheed Martin\Prepar3D v4\Scenery\Global\Scenery\autogen.bgl</value>
        </setting>
        <setting name="RegionsReadonly" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ClassesMultiselect" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="RegionMappings" serializeAs="String">
          <value>A=Europe Germanic;B=North America North;C=North America Southwest;D=South America East;E=Africa Central;F=Asia Central;G=Australia;H=Tropical Pacific;I=Arctic;J=Middle East;K=Europe British;L=Europe French;M=Europe Russian;N=Europe Mediterranean West;O=Europe Mediterranean East;P=North America South;Q=South America West;R=Tropics American;S=Tropics Asian;T=Africa South;U=Asia Cold-Dry;V=Asia Industrial;W=Asia Indian;X=Australia Red;Y=Australia North;Z=Oceania South</value>
        </setting>
      </Microsoft.Aces.AutoGenEditor.View.Properties.ViewSettings>
    </applicationSettings>
    <userSettings>
      <Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.allLibraryObjectsFilmStrip>
        <setting name="SplitterDistance" serializeAs="String">
          <value>223</value>
        </setting>
      </Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.allLibraryObjectsFilmStrip>
      <Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.libraryObjectsFilmStrip>
        <setting name="SplitterDistance" serializeAs="String">
          <value>223</value>
        </setting>
      </Microsoft.Aces.AutoGenEditor.View.Properties.FilmStripSettings.View.libraryObjectsFilmStrip>
    </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup><system.web>
    <trust level="Full" />
    <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
  </system.web>
</configuration>
