<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ObjectRenders" serializeAs="String">
                <value>%inetroot%\private\fs\art\renders\Global\Vegetation</value>
            </setting>
        </Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings>
            <setting name="RegionMappings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-1=Default</string>
                        <string>0=Europe NorthCentral (A)</string>
                        <string>1=North America North (B)</string>
                        <string>2=North America Southwest (C)</string>
                        <string>3=South America East (D)</string>
                        <string>4=Africa Central (E)</string>
                        <string>5=Asia Central (F)</string>
                        <string>6=Australia (G)</string>
                        <string>7=Tropical Pacific (H)</string>
                        <string>8=Arctic (I)</string>
                        <string>9=Middle East (J)</string>
                        <string>10=Europe West (K)</string>
                        <string>11=Europe Central (L)</string>
                        <string>12=Eurasia (M)</string>
                        <string>13=Europe Mediterranean West (N)</string>
                        <string>14=Europe Mediterranean East (O)</string>
                        <string>15=North America South (P)</string>
                        <string>16=South America West (Q)</string>
                        <string>17=Tropics American (R)</string>
                        <string>18=Tropics Asian (S)</string>
                        <string>19=Africa South (T)</string>
                        <string>20=Asia Cold-Dry (U)</string>
                        <string>21=Asia Industrial (V)</string>
                        <string>22=Asia Indian (W)</string>
                        <string>23=Australia Red (X)</string>
                        <string>24=Australia North (Y)</string>
                        <string>25=Oceania South (Z)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="SimPropSymbolDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\propdefs</value>
            </setting>
        </Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings>
        <Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings>
            <setting name="Seasons" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>fa=AUTOGEN_FALL</string>
                        <string>wi=AUTOGEN_MILD_WINTER</string>
                        <string>hw=AUTOGEN_HARD_WINTER</string>
                        <string>sp=AUTOGEN_SPRING</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultMinScale" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="DefaultMaxScale" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="ObjectParser" serializeAs="String">
                <value>GuidToName \{\s*"\{(?&lt;Guid&gt;\w{8}-\w{4}-\w{4}-\w{4}-\w{12})\}";\s*"(?&lt;Name&gt;\S+)";\s*\}</value>
            </setting>
            <setting name="TextureParsers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DiffuseTextureFileName  \{\s*"(?&lt;FileName&gt;\w+\.\w{3})";\s*}</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RoofTextureSheets" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>4x4</string>
                        <string>4x8</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Microsoft.Aces.AutogenConfigEditor.InternalPlugins.Properties.Settings>
    </applicationSettings>
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
</startup><system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>
