<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Microsoft.FlightSimulator.ContentScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Microsoft.FlightSimulator.BglScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Microsoft.FlightSimulator.MdlScan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>

    <system.diagnostics>
        <sources>
            <source name="ContentScan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="AC2Scan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="AC3Scan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="AgnScan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="BglScan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="MdlScan" switchName="ContentScan" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ConsoleListener">
                        <filter type="" />
                    </add>
                    <add name="LogFileListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="false" type="Microsoft.FlightSimulator.ColoredConsoleTraceListener, BaseTypes"
                name="ConsoleListener">
                <filter type="Microsoft.FlightSimulator.ContentScan.ContentScanSourceFilter, ContentScan"
                    initializeData="Auto" />
            </add>
            <add initializeData="ContentScan.log" type="System.Diagnostics.TextWriterTraceListener"
                name="LogFileListener">
                <filter type="Microsoft.FlightSimulator.ContentScan.ContentScanSourceFilter, ContentScan"
                    initializeData="Auto" />
            </add>
        </sharedListeners>
        <switches>
            <add name="ContentScan" value="Error" />
        </switches>
        <trace autoflush="true" />
    </system.diagnostics>
    
    <applicationSettings>
        <Microsoft.FlightSimulator.ContentScan.Properties.Settings>
            <setting name="GlobalDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\Scenery\Global</value>
            </setting>
            <setting name="Autogen2ConfigFile" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\Autogen\default.xml</value>
            </setting>
            <setting name="Autogen3ConfigsDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\Autogen</value>
            </setting>
            <setting name="ProductDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4</value>
            </setting>
            <setting name="ContentDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4</value>
            </setting>
        </Microsoft.FlightSimulator.ContentScan.Properties.Settings>
        <Microsoft.FlightSimulator.BglScan.Properties.Settings>
            <setting name="ProductDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4</value>
            </setting>
            <setting name="GlobalDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\Scenery\Global</value>
            </setting>
        </Microsoft.FlightSimulator.BglScan.Properties.Settings>
        <Microsoft.FlightSimulator.MdlScan.Properties.Settings>
            <setting name="ModelException" serializeAs="String">
                <value>(DH_Dash8_100\.mdl)|(MD_83\.mdl)|(PA28_180\.mdl)</value>
            </setting>
            <setting name="TextureException" serializeAs="String">
                <value>(^\$)|(^DECAL_NNUMBER)</value>
            </setting>
        </Microsoft.FlightSimulator.MdlScan.Properties.Settings>
        <Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings>
            <setting name="SimPropSymbolDirectory" serializeAs="String">
                <value>C:\Program Files\Lockheed Martin\Prepar3D v4\propdefs</value>
            </setting>
        </Microsoft.Aces.AutogenConfigEditor.Model.Properties.Settings>
    </applicationSettings>
    
<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
</startup><system.web>
        <trust level="Full" />
        <webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
    </system.web>
</configuration>
